<?xml version="1.0" encoding="utf-8"?>
<settings>
  <DispAvg>False</DispAvg>
  <UnitsKbytes>True</UnitsKbytes>
  <UnitsKbits>False</UnitsKbits>
  <GraphDownload>True</GraphDownload>
  <GraphUpload>True</GraphUpload>
  <AutoScale>True</AutoScale>
  <TopMost>True</TopMost>
  <SimpleNotifyIcon>False</SimpleNotifyIcon>
  <ShowGraphLabel>True</ShowGraphLabel>
  <ColorCycle>False</ColorCycle>
  <MailCheck>False</MailCheck>
  <ClipWatch>False</ClipWatch>
  <LogEnabled>False</LogEnabled>
  <TimerInterval>1000</TimerInterval>
  <LogInterval>5</LogInterval>
  <PopServer>mail.exampleserver.com</PopServer>
  <PopUser>username</PopUser>
  <PopPass>Zu1BYW1W8wl23w8W+16EIg==</PopPass>
  <PopEnabled>False</PopEnabled>
  <PopType>0</PopType>
  <MailCheckInterval>600000</MailCheckInterval>
  <BackgroundRed>44</BackgroundRed>
  <BackgroundGreen>81</BackgroundGreen>
  <BackgroundBlue>138</BackgroundBlue>
  <ForegroundRed>255</ForegroundRed>
  <ForegroundGreen>255</ForegroundGreen>
  <ForegroundBlue>255</ForegroundBlue>
  <WindowX>1133</WindowX>
  <WindowY>326</WindowY>
  <DispWidth>126</DispWidth>
  <DispHeight>64</DispHeight>
  <WindowIsVisible>true</WindowIsVisible>
  <GraphScale>4096000</GraphScale>
  <Trans>100</Trans>
  <FontSize>0</FontSize>
</settings>